:root {
    --colorborder: #252525;
    --unitcolor: #fff;
    --green: #51b36e --yellow: #c79c2e --red: #943e3c
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f3f1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 20rem;
    padding-right: 20rem;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;

}

button {
    margin: .4rem;
    padding-top: .5rem;
    border-radius: .5rem;

}

h1 {
    text-align: center;
    font-family: 'Acme', sans-serif;
    font-size: 270%;
    display: flex;
    align-items: center;
    margin-left: 3rem;
    margin-right: 3rem;
}

#letteryellow {
    color: #c79c2e;
}

#lettergreem {
    color: #51b36e;
    ;
}

#letterred {
    color: #943e3c;
}

.main {
    width: 500px;
    height: 532px;

}

#inputs {
    width: 500px;
    height: 320px;
    
}

.lines {
    width: 500px;
    height: 40px;
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;

}

.input {
    width: 48px;
    height: 40px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--unitcolor);
    border: 1px solid black;
    padding: auto;

}

#keyboard {
    width: 500px;
    height: 188px;
    margin-top: 2rem;
}

.keyboardLines {
    width: 500px;
    height: 40px;
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
}

.check {
    width: 100px;
    height: 40px;
    border: var(--colorborder) solid 1px;
    border-radius: 5px;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: var(--unitcolor);
}



.key {
    width: 38px;
    height: 40px;
    border: var(--colorborder) solid 1px;
    border-radius: 5px;
    margin-left: 4px;
    margin-right: 4px;
    background-color: var(--unitcolor);
    text-align: center;
}

.bord {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;

}

input {
    padding: auto;
    justify-content: end;
}

.border-edit {
    border: 2px solid black;
}

.check  {
    color: rgba(16, 16, 16, 0.3);
}
.dark{
    color: #000;
}